body {
  background-color:gainsboro ;
}

h1 {
  color: dimgray;
  text-align: center;
}

h2 {
  color: dimgray;
  text-align: left;
}

h3 {
  color: dimgray;
  text-align: left;
}

p.txt {
  color: dimgray;
  font-family: new times roman;
}

/* A Flexible Layout must have a parent element with
the display property set to flex.*/
.flex-container {
  display: flex;
  flex-flow: row;
}

.flex-container .flex-item {
  padding: 5px;
}

.flex-container .flex-item-content {
  width: 500px;
}

.flex-container .flex-item-summary {
  width: 300px;
}

.summary {
  list-style: none;
}

.summary .item {
  margin: 10 0 0 0;
  font-size: 12;
}
/* Give it a format to all our divs inside
   the flex layout  */
.flex-container > div {
   /* margin: 50px; */
  /*padding: 20px;
  font-size: 30px; */
}
